@page "/demo6"
@using GridStack.Blazor.Demo.Components
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Demo 6: Multiple Grids</PageTitle>

<div class="page">
    <div class="title">
        <h3>Demo 6: Multiple Grids</h3>
    </div>

    <div class="header">
        <div class="grid-stack-item drag-in-item" gs-x="1" gs-y="1" style="height: 40px; width: 40px; border: 2px solid black;">
            New Item
        </div>
        <div class="grid-stack-item" gs-x="1" gs-y="1" style="height: 40px; width: 120px; border: 2px solid black;">
            Does not have required class
        </div>
        <div class="grid-stack-item drag-in-item" gs-x="1" gs-y="1" style="height: 40px; width: 120px; border: 2px solid black;">
            Does not have required content
        </div>
    </div>

    <div class="grid-wrapper">
        @foreach(var gridId in _gridIds)
        {
            <GridComponent GridId="@gridId" />
        }
    </div>

</div>

@code {
    private readonly List<string> _gridIds = [ "Grid1", "Grid2" ];
}